#midi {
  background-color: darkslategray;
}

#play {
  color: lightgreen;
}

#stop {
  color: red;
}

#toolbar {
  background-color: gainsboro;
  margin-bottom: 8px;
  padding: 4px;
}

* {
  zoom: 125%;
}
