#midi {
  background-color: #23272a;
}

#play {
  color: green;
  font-size: 11px;
}

#stop {
  color: red;
}

#stop-icon {
  position: relative;
  top: -1px;
}

#toolbar {
  background-color: #ffffff1a;
  height: 21px;
  margin-bottom: 8px;
  padding: 4px;
}

button {
  height: 21px;
}

body {
  background-image: linear-gradient(0deg, #e6ddca, #99bbcc);
  font-family: sans-serif;
  user-select: none;
  zoom: 125%;
}
