#midi {
  background-color: darkslategray;
}

#play {
  color: green;
  font-size: 60%;
}

#stop {
  color: red;
}

#toolbar {
  background-color: gainsboro;
  height: 4%;
  margin-bottom: 8px;
  padding: 4px;
}

button {
  height: 100%;
}

body {
  font-family: sans-serif;
  height: 100%;
  user-select: none;
  zoom: 125%;
}

html {
  height: 100%;
}
