#midi {
  background-color: darkslategray;
}

#play {
  color: green;
  font-size: 11px;
}

#stop {
  color: red;
}

#toolbar {
  background-color: gainsboro;
  height: 21px;
  margin-bottom: 8px;
  padding: 4px;
}

button {
  height: 21px;
}

body {
  font-family: sans-serif;
  user-select: none;
  zoom: 125%;
}
