#midi {
  background-color: darkslategray;
}

#play {
  color: green;
}

#stop {
  color: red;
}

#toolbar {
  background-color: gainsboro;
  height: 10%;
  margin-bottom: 8px;
  padding: 4px;
}

body {
  height: 100%;
  width: 100%;
  zoom: 110%;
}
