#midi {
  background-color: #23272a50;
  border-color: #23272a50;
  height: 300px;
}

#play {
  color: green;
  font-size: 11px;
}

#playhead {
  border-color: #ffffff;
  border-radius: 1px;
  height: 296px;
  width: 10px;
}

#stop {
  color: crimson;
}

#stop-icon {
  position: relative;
  top: -1px;
}

#toolbar {
  background-color: #ffffff50;
  border-color: #ffffff50;
  height: 21px;
  margin-bottom: 8px;
  padding: 4px;
  font-size: small;
}

button {
  height: 21px;
  width: 24px;
}

body {
  /* Terrible color */
  background-image: linear-gradient(0deg, #e6ddca, #99bbcc);
  background-repeat: no-repeat;
  font-family: sans-serif;
  user-select: none;
  zoom: 125%;
}

div {
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
}

html {
  height: 100%;
}
