#midi {
  background-color: darkslategray;
}

#play {
  color: green;
}

#stop {
  color: red;
}

#toolbar {
  background-color: gainsboro;
  height: 10%;
  margin-bottom: 8px;
  padding: 4px;
}

button {
  height: 100%;
}

body {
  font-family: sans-serif;
  height: 100%;
  zoom: 125%;
}
